  <div class="row">
    <div class="col-xs-12  offset-md-1">
      <h2>商品新規登録</h2>
      <%= form_with model:@item, url:admin_items_path,  local:true do |f| %>
      <%= render "layouts/error_messeges", resource: @item %>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="form_group">
        <%= f.label :"商品画像", class: "col-sm-3" %>
        <%= f.attachment_field :image, class: "col-sm-9" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form_group">
          <%= f.label :"商品名", class: "col-sm-3" %>
          <%= f.text_field :name, class: "col-sm-9"  %>
        </div>
        <div class="form_group">
        <%= f.label :"商品説明", class: "col-sm-3" %>
        <%= f.text_area :introduction, class: "col-sm-9"%>
        </div>
      <div class="form_group">
        <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-9") %>
      </div>
      <div class="form_group">
        <%= f.label :"税抜価格", class: "col-sm-3" %>
        <%= f.text_field :price, class: "col-sm-9" %>
      </div>
      <div class="form_group">
        <%= f.label :"販売ステータス" %>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :"販売中" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :"販売停止中" %>
      </div>
      <div class="col-xs-6">
        <%= f.submit "新規登録" %>
      </div>
    </div>
      <% end %>
    </div>
</div>

