<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h2>
      <%= form_with model: @customer, url:admin_customer_path, local: true do |f| %>
      <%= render "layouts/error_messeges", resource: @customer %>
        <table class="row table">
          <tr>
            <th><%= f.label :"氏名" %></th>
            <td>
              <%= f.text_field :first_name, autofocus: true %>
              <%= f.text_field :last_name, autofocus: true %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :"フリガナ" %></th>
            <td>
              <%= f.text_field :kana_first_name, autofocus: true %>
              <%= f.text_field :kana_last_name, autofocus: true %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :"メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"郵便番号（ハイフンなし）" %></th>
            <td><%= f.text_field :postal_code, autofocus: true %></td>
          </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :residence, autofocus: true %></td>
        </tr>
        <tr>
          <th><%= f.label :"電話番号" %></th>
          <td><%= f.text_field :phone_number, autofocus: true %></td>
        </tr>
        <tr>
          <th><%= f.label :"会員ステータス" %></th>
          <td>
            <%= f.radio_button :is_active ,:true %>
            <%= f.label :"有効" %>
            <%= f.radio_button :is_active ,:false %>
            <%= f.label :"退会" %>
          </td>
        </tr>
        </table>
        <div class="actions">
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


