  <div class="row">
    <div class="col-xs-12">
      <h2>会員情報編集</h2>
      <%= form_with model: @customer, url:customer_path, local: true do |f| %>
      <%= render "layouts/error_messeges", resource: @customer %>
        <table class="table table-bordered table-condensed">
          <tr>
            <th><%= f.label :"氏名" %></th>
            <td>
              <%= f.text_field :first_name, autofocus: true %>
              <%= f.text_field :last_name, autofocus: true %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :"フリガナ" %></th>
            <td>
              <%= f.text_field :kana_first_name, autofocus: true %><%= f.text_field :kana_last_name, autofocus: true %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :"メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :"郵便番号（ハイフンなし）" %></th>
            <td><%= f.text_field :postal_code, autofocus: true %></td>
          </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :residence, autofocus: true %></td>
        </tr>
        <tr>
          <th><%= f.label :"電話番号" %></th>
          <td><%= f.text_field :phone_number, autofocus: true %></td>
        </tr>
        </table>
        <div class="actions col-xs-10 col-xs-offset-2">
          <%= f.submit "変更を保存", class:"btn btn-success", style:"margin:0px 20px;" %>
          <%= link_to "退会する",confirm_unsubscribe_customers_path, class:"btn btn-danger" %>
        </div>

      <% end %>
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>


