<h2>注文情報確認画面</h2>
<div class="row">
    <div class="col-md-8 offset-md-1">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.add_tax_price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal%></td>
            </tr>
          </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-xs-8">
      <table>
        <tr>
          <th>送料</th>
          <td>￥<%= @order.shipping %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td class="col-xs-2">￥<%= @total_price.floor.to_s %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>￥<%= (@order.total_payment=(@order.shipping + @total_price).floor).to_s(:delimited) %></td>
        </tr>
      </table>
  </div>
  <div class="col-md-8 offset-md-1">
    <div class="field">
      <h3>支払方法</h3>
      <%= @order.payment_method_i18n %>
    </div>
    <div class="field">
      <h3>お届け先</h3>
     〒 <%= "#{@order.postal_code} #{@order.address} 　#{@order.name}" %>
    </div>
    <div class="field">
     <%= form_with model: @order, url:orders_path, local:true do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :total_payment %>
        <%=f.submit "注文を確定する", class: "glyphicon glyphicon-pencil btn-sm btn-success col-xs-5" %>
      <% end %>
    </div>
  </div>
</div>

