<div class="container">
  <div class="row">
    <div class="col-xs-8 offset-md-1">
      <h2>注文情報画面</h2>
      <% if current_customer.cart_items.present? %>
        <%= form_with model:@order, url: confirum_orders_path, local:true do |f| %>
          <div class="form_group">
            <h3>支払方法</h3>
            <%= f.radio_button :payment_method, "credit_card" %>
            <%= f.label :payment_metho, Order.payment_methods_i18n[:credit_card] %>
            <%= f.radio_button :payment_method, "transfer", checked: true %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
          </div>

          <div class=" col-xs-10 radio">
            <h3>お届け先</h3>
            <span> </span><%= f.radio_button :addresses, "residence", checked: true  %>

            <%= f.label :ご自身の住所 %><br />
            <p>
              〒<%= @customer.postal_code %> <%= @customer.residence %><br />
              <%= @customer.first_name %><%= @customer.last_name %>
            </p>
          </div>

          <div class=" col-xs-10 radio">
            <span> </span><%= f.radio_button :addresses, "addresses" %>
            <%= f.label :登録済み住所から選択 %><br />
            <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %><br />
          </div>
          <div class=" col-xs-10 radio">
            <span> </span><%= f.radio_button :addresses, "new_address" %>
            <%= f.label :新しいお届け先 %><br />
            <div class="field form-group col-xs-11">
              <%= f.label :郵便番号（ハイフンなし）%><br />
              <%= f.text_field :postal_code %><br />
            </div>
            <div class="field form-group col-xs-11">
              <%= f.label :address , '住所' %><br />
              <%= f.text_field :address %><br />
            </div>
            <div class="field form-group col-xs-11">
            <%= f.label :name , '宛名' %><br />
            <%= f.text_field :name %>
            </div>
          </div>

          <div class="btns col-xs-8">
            <%= f.submit "確認画面へ進む", class: "btn btn-success col-xs-5" %>
          </div>

        <% end %>
      <% else %>
        <p>お客様のショッピングカートに商品はありませんので注文情報の入力ができません。</p>
      <% end %>
  </div>
