<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル検索</h3>

    </div>
    <div class="col-md-8 offset-md-1">
      <section>
        <p>ようこそ、ながのCAKEへ！<br />
          このサイトは、ケーキ販売のECサイトになります。<br />
          会員ではない方も商品の閲覧はできますが、<br />
          購入時には会員登録が必要です。
        </p>
      </section>
      <section>
        <h2>新着商品</h2>
        <% @items.last(4).each do |item| %>
        <% if item.is_active == true %>
          <div><%= attachment_image_tag item, :image ,format: 'jpeg', size: "200x200" %></div>
              <%= link_to item_path(item.id) do %>
                <%= item.name %>
              <% end %>
               \<%= item.price %>
            <%= item.genre.name %>
          <% end %>
          <% end %>
      </section>
    </div>
  </div>
</div>