<div class="row">
  <div class="col-xs- col-xs-offset-2"  >
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "300x240"%>
  </div>
  <div class="col-xs-6" style=" margin: auto;">
    <div class="field">
      <h2><%= @item.name %></h2>
    </div>
    <div class="field">
      <p><%= @item.introduction %></p>
    </div>
    <div class="field">
      ￥<%= @item.add_tax_price %>（税込）
    </div>
    <div class="field">
    <% if customer_signed_in? %>
      <%= form_with model:@cart_item, url: cart_items_path,  local:true do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <p>
        個数を選択してください。
      </p>
      <%= f.select :amount, *[1..9] %>
      <%= f.submit "カートに入れる" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

